<!-- {% extends 'base.html' %}

{% block content %}

<form action="" method=POST>

    {% csrf_token %}

<form>
<div class="mb-3">
<label for="exampleInputEmail1" class="form-label">Username</label>
<input type="text" class="form-control" name="username" aria-describedby="emailHelp">

</div>
<div class="mb-3">
<label for="exampleInputPassword1" class="form-label"placeholder="new password">New Password</label>
<input type="password" class="form-control" name="password1">
</div>
<div class="mb-3">
<label for="exampleInputPassword1" class="form-label"placeholder="re enter password">Re Password</label>
<input type="password" class="form-control" name="password2">
</div>


<div class="mb-3">
<label for="exampleInputPassword1" class="form-label"placeholder="old password">Old Password</label>
<input type="password" class="form-control" name="oldpassword">
</div>

    

    <input type="submit" value="Upddate" class="btn btn-primary">

</form>

{% endblock %} -->