{% extends 'header/mainbase.html' %}

{% block content %}
<style>
  body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



</style>






      <div class="row p-5 d-flex justify-content-center">
<div class=" col-lg-12 col-md-12">
                                              <div class="card user-card-full" >
                                                  <div class="row m-l-0 m-r-0">
                                                      <div class="col-sm-4 bg-c-lite-green user-profile">
                                                          <div class="card-block text-center text-white">
                                                              <div class="m-b-25">
                                                                  <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">
                                                              </div>
                                                              <h6 class="f-w-600">{{user}}</h6>
                                                             
                                                              <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                          </div>
                                                      </div>
                                                      <div class="col-sm-8">
                                                          <div class="card-block">
                                                              <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                              <div class="row">
                                                                  <div class="col-sm-6">
                                                                      <p class="m-b-10 f-w-600">Name</p>
                                                                      <h6 class="text-muted f-w-400">{{users.department_username}}{{users.head_name}} {{users.username}}{{users.union_username}}{{users.public_name}}</h6>
                                                                  </div>
                                                                  <div class="col-sm-6">
                                                                      <p class="m-b-10 f-w-600">Email</p>
                                                                      <h6 class="text-muted f-w-400">{{users.department_email}} {{users.email}} {{users.head_mail}}{{users.union_email}}{{users.public_email}}</h6>
                                                                  </div>
                                                              </div>
                                                              {% if headid or depid %}
                                                              <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Others</h6>
                                                              <div class="row">
                                                                  <div class="col-sm-6">
                                                                      <p class="m-b-10 f-w-600">Department Name</p>
                                                                      <h6 class="text-muted f-w-400">{{users.department_name}}</h6>
                                                                  </div>
                                                                  
                                                                 
                                                              </div>
                                                              {% endif %}

                                                              <br>
                                                              <div class="row">
                                                              <div class="col-sm-12">
                                                                <button class="btn btn-primary" id="btn">Change Password</button>
                                                            </div>
                                                              </div>
                                                            
                                                        

                                                              <div id="passchange" style="display: none;" >
                                                                <br>
                                                                {% if user.is_authenticated %}

                                                                <form method="post" action= "{% url 'change_user_settings' users.id %}">
                                                                    {% elif depid %}
                                                                    <form method="post" action= "{% url 'change_user_settings' depid %}">
                                                                    {% elif headid %}
                                                                    <form method="post" action= "{% url 'change_user_settings' headid %}">
                                                                    {% elif mainuserid %}
                                                                    <form method="post" action= "{% url 'change_user_settings' mainuserid %}">
                                                                    {% elif unionid %}
                                                                    <form method="post" action= "{% url 'change_user_settings' unionid %}">
                                                                    {% elif publicid %}
                                                                    <form method="post" action= "{% url 'change_user_settings' publicid %}">

      
                                                                    {% endif%}
                                                                    {% csrf_token %}
                                                                <input type="text" name="oldpass" placeholder="Old Password" style="border-radius: 0px solid grey;outline: none;">
                                                                <br>
                                                                <br>
                                                                <input type="text" name="newpass1" id="newpass1"  placeholder="New password" style="border-radius: 0px solid grey;outline: none;" onkeyup="passcheck();">
                                                                <br>
                                                                <br>
                                                                <input type="text" name="newpass2" id="newpass2" placeholder="Re Enter Password" style="border-radius: 0px solid grey;outline: none;" onkeyup="passcheck();">
                                                                <br>
                                                                <span id="msg"></span>
                                                                <br>
                                                                <input type="submit" value="Change" class="btn btn-success">
                                                                </form>
                                                              </div>
                                                              <br>
                                                              {% if messages %}
                                                              {% for message in messages %}
                                                                
                                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                                  {{ message }}
                                                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                                </div>
                                                      
                                                              {% endfor %}
                                                            {% endif %}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                           </div>
                                           <script type="text/javascript">
                                            const targetDiv = document.getElementById("passchange");
                                            const btn = document.getElementById("btn");
                                            btn.onclick = function () {
                                            if (targetDiv.style.display == "none") {
                                                targetDiv.style.display = "block";
                                            } else {
                                                targetDiv.style.display = "none";
                                            }
                                            };


                                            const pass1 = document.getElementById('newpass1')
                                            const pass2 = document.getElementById('newpass2')
                                            const msg = document.getElementById("msg");

                                            const passcheck =()=>{
                                                if (pass1.value == pass2.value){
                                                    msg.style.color = "Green";
                                                    msg.innerHTML = "Password Match";
                                                }
                                                else{
                                                    msg.style.color = "red";
                                                    msg.innerHTML = "Password not Match";
                                                }
                                            }
                                        </script>



{% endblock %}